@import '/assets/styles/scss/base/variables.scss';
@import '/assets/styles/scss/base/index.scss';
@import '/assets/styles/scss/utilities/index.scss';
@import '/assets/styles/scss/components/table.scss';
@import '/assets/styles/scss/components/input.scss';
@import '/assets/styles/scss/components/list.scss';
@import '/assets/styles/scss/components/sidebar.scss';
@import '/assets/styles/scss/components/overlay';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    @apply tw-p-2 tw-w-20 tw-rounded-2xl tw-transition tw-duration-300 tw-ease-in-out
  }
  .btn-primary{
    @apply tw-text-white tw-bg-indigo-600  hover:tw-bg-gray-100 hover:tw-text-black
  }
  .btn-secondary{
    @apply tw-bg-gray-100  hover:tw-bg-indigo-600 hover:tw-text-white
  }
  .btn-danger {
    @apply tw-bg-red-700 tw-text-white tw-w-12
  }

  .form-label {
    @apply tw-text-gray-800 tw-font-bold tw-block dark:tw-text-white
  }

  .form-input {
    @apply tw-border-solid tw-w-full tw-border tw-border-gray-300 tw-mt-3 tw-py-2 tw-px-3 tw-rounded focus:tw-outline-none focus:tw-ring-4 focus:tw-ring-opacity-50 focus:tw-ring-indigo-600 dark:tw-bg-gray-800 #{!important};
  }
}
@layer utilities{
  @variants dark {
    .tw-fill-gray-100 {
      fill: #F3F4F6;
    }

    .tw-fill-gray-600 {
      fill: #1F2937;
    }
  }}
