.box-shadow-1 {
  box-shadow: 0px 4px 4px $box-shadow-color-1 !important;
}
.box-shadow-2 {
  box-shadow: 4px 4px 12px 2px $box-shadow-color-2 !important;
}
.box-shadow-3 {
  box-shadow: -2px -2px 4px $box-shadow-color-2, 2px 2px 4px $box-shadow-color-2 !important;
}
