.info-box__v-list,
.reference-box__v-list {
  .v-list-group__header {
    padding-left: 0 !important;
  }
  .v-list-item__icon.v-list-group__header__append-icon {
    margin-right: 0 !important;
    justify-content: center !important;
  }
}
