//.v-navigation-drawer__content {
//  overflow-y: hidden !important;
//
//  .v-list-item__icon {
//    margin-right: 0 !important;
//    height: 48px !important;
//    @include setVariable('background-color', baseLight4);
//    border-radius: 4px 0 0 4px !important;
//    margin-left: 3px !important;
//    padding-left: 10px !important;
//  }
//}
