//.v-data-table:not(.custom-table) {
//  background-color: transparent !important;
//
//  .v-data-table-header {
//    background-color: $table-header !important;
//  }
//
//  table {
//    border-collapse: separate !important;
//    border-spacing: 0 15px !important;
//  }
//
//  tbody {
//    tr {
//      @include setVariable('background-color', baseLight);
//    }
//  }
//  td {
//    padding: 11px 10px !important;
//  }
//  .v-data-table-header__icon {
//    @include setVariable('color', baseLight);
//  }
//  th {
//    @include setVariable('color', baseLight);
//  }
//
//  & > .v-data-table__wrapper {
//    tbody {
//      tr {
//        &.v-data-table__expanded__content {
//          box-shadow: none !important;
//        }
//      }
//    }
//  }
//}
