<template>
  <div class="container--fluid">
    <Header />
      <nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from './header'
import Footer from './footer'
export default {
  components: {
    Header,
    Footer
  }
}
</script>

<style>
.dark-mode {
  @apply tw-text-white  tw-bg-gray-900;;
}

.light-mode {
  @apply tw-text-black tw-bg-white;
}
</style>
