<template>
  <div>
    <div style="height: 100px; overflow: hidden;">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path class="tw-fill-gray-100 dark:fill-gray-800"
              d="M-37.02,164.10 C328.66,20.03 595.03,10.16 618.74,-65.81 L500.00,150.00 L0.00,150.00 Z"></path>
      </svg>
    </div>
    <footer dir="rtl" class="tw-bg-gray-100 tw-pb-8 dark:tw-bg-gray-800">
      <div class="container tw-mx-auto tw-py-4 tw-px-10 lg:tw-px-20">
        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center tw-justify-between">
          <div class="dark:tw-text-white tw-w-80">
            <h1 class="tw-text-2xl tw-font-bold">hani.io</h1>
            <p class="tw-mt-3 tw-mb-6 tw-text-gray-700 tw-leading-8 dark:tw-text-white">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
              چاپ و با استفاده از طراحان گرافیک است.
            </p>
            <div class="tw-space-x-reverse tw-space-x-4">
              <fa :icon="['fa', 'shield-alt']"
                  class="tw-text-[2rem] tw-p-4 tw-rounded-full tw-border tw-border-1 tw-border-indigo-600 tw-text-indigo-600"></fa>
            </div>
          </div>
          <div class="tw-grid tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-8 tw-mt-8 lg:tw-mt-0 dark:text-white">
            <div>
              <h2 class="tw-leading-10 tw-font-bold tw-border-b-2 tw-border-indigo-600 tw-mb-3">دسترسی سریع</h2>
              <ul class="tw-space-y-3">
                <li>صفحه اصلی</li>
                <li>محصولات</li>
                <li>درباره ما</li>
                <li>تماس با ما</li>
              </ul>
            </div>
            <div>
              <h2 class="tw-leading-10 tw-font-bold tw-border-b-2 tw-border-indigo-600 tw-mb-3">محصولات</h2>
              <ul class="tw-space-y-3">
                <li>لورم ایپسوم</li>
                <li>لورم ایپسوم متن</li>
                <li>لورم ایپسوم</li>
                <li>لورم ایپسوم متن</li>
              </ul>
            </div>
            <div>
              <h2 class="tw-leading-10 tw-font-bold tw-border-b-2 tw-border-indigo-600 tw-mb-3">لورم ایپسوم</h2>
              <ul class="tw-space-y-3">
                <li>لورم ایپسوم</li>
                <li>لورم ایپسوم متن</li>
                <li>لورم ایپسوم</li>
                <li>لورم ایپسوم متن</li>
              </ul>
            </div>
            <div>
              <h2 class="tw-leading-10 tw-font-bold tw-border-b-2 tw-border-indigo-600 tw-mb-3">درباره ما</h2>
              <ul class="tw-space-y-3">
                <li>درباره ما</li>
                <li>تماس با ما</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>

export default {
  name: 'Footer',
  components: {},
  data() {
    return {}
  }
}
</script>
