<template>
  <div class="container--fluid dark:tw-bg-gray-900">
    <v-app class="dark:tw-bg-gray-900">
      <div class="tw-flex tw-flex-row tw-justify-between align-center tw-shadow-lg">
        <div class="tw-flex tw-flex-row tw-content-center align-center">
          <v-app-bar-nav-icon @click="drawer = true" class="d-flex d-sm-none">
          </v-app-bar-nav-icon>
          <v-toolbar-title>hanigoli.ir</v-toolbar-title>
        </div>
        <template>
          <div class="tw-flex tw-flex-row tw-justify-between tw-bg-white" dir="rtl">
            <v-tabs align-with-title class="d-none d-sm-flex tw-w-fit tw-flex">
              <div class="tw-flex tw-items-center">
                <div class="tw-ml-6">
                  <button class="btn btn-primary">ورود</button>
                  <button class="btn btn-secondary tw-mr-2">عضویت</button>
                  <button class="btn border border-white capitalize" @click="changeMode">
                    {{ btnLabel }}
                  </button>
<!--                  <fa :icon="['fas', 'adjust']"  />-->
                </div>
              </div>
              <v-tab
                v-for="item in items"
                :key="item"
              >
                {{ item }}
              </v-tab>
            </v-tabs>
          </div>
        </template>
      </div>
      <v-navigation-drawer
        v-model="drawer"
        fixed
        right
        app
        width="283"
        temporary
        class="md:tw-hidden"
      >
        <v-list
          nav
          dense
          class="md:tw-hidden"
        >
          <v-list-item-group>
            <v-list-item v-for="(item, index) in items">
              <v-list-item-title @click="tab = index">{{ item }}</v-list-item-title>
            </v-list-item>

          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-app>
  </div>
</template>

<script>

export default {
  data() {
    return {
      drawer: false,
      tab: null,
      items: [
       'صفحه اصلی',
       'پست ها',
       'محصولات',
       'تماس با ما',

      ],
    }
  },
  components: {},
  computed: {
    mode() {
      return this.$colorMode;
    },
    btnLabel() {
      return this.$colorMode.preference === "light" ? "dark" : "light";
    }
  },
  methods: {
    changeMode() {
      this.$colorMode.preference =
        this.$colorMode.preference === "light" ? "dark" : "light";
    }
  }
}
</script>

<style lang="scss">
* {
  font-family: 'iransans';
}
.v-application--wrap {
  min-height: 0vh !important;
}
//.dark-mode {
//  @apply  tw-text-white tw-bg-gray-900;
//}
//
//.light-mode {
//  @apply tw-text-black tw-bg-white;
//}

</style>
