<template>
  <div class="">
    <!--    <div>-->
    <!--      <button id="getPost" class="tw-p-1.5 tw-bg-violet-600" @click="getPostAxios">get post hani goli</button>-->
    <!--      <ul>-->
    <!--        <li v-for="(post,index) in posts" :key="index">-->
    <!--          <p>ID={{post.id}}</p>-->
    <!--          <p>Title={{post.title}}</p>-->
    <!--          <p>Body={{post.body}}</p>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--POST METHOD-->
    <!--    <div class="tw-ml-16 tw-mb-4 tw-block">-->
    <!--      <h3>Create Post (method)</h3>-->
    <!--      <form class="tw-my-4">-->
    <!--        <div class="grid gap-6 mb-6 md:grid-cols-2">-->
    <!--          <div>-->
    <!--            <label for="post-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">post name</label>-->
    <!--            <input v-model="name" type="text" id="post-name" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-p-4 tw-rounded-lg" placeholder="postName">-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </form>-->
    <!--      <button class="btn btn-primary tw-w-32" @click="postNameAxios">Send Post</button>-->
    <!--      <p>{{this.name}}</p>-->
    <!--    </div>-->
    <section class="" dir="rtl">
      <div class="container mx-auto py-4 px-10 lg:px-20">
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-gap-x-24">
          <div class="tw-mt-8 lg:tw-mt-0">
            <h1 class="tw-text-2xl tw-font-bold tw-mb-5 dark:text-white">لورم ایپسوم <span class="tw-text-indigo-600">متن ساختگی</span>
            </h1>
            <p class="tw-text-gray-700 tw-text-justify tw-leading-8 tw-mb-6 dark:text-white">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              چاپگرها
              و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
              و
              کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <button class="btn btn-primary tw-w-fit">لورم ایپسوم متن</button>
            <button class="btn btn-secondary mr-4 tw-w-fit">لورم ایپسوم</button>
          </div>
          <div class="tw-w-full">
            <img src="../assets/images/team-meeting.svg" alt="">
          </div>
        </div>
      </div>
    </section>
    <div style="height: 100px; overflow: hidden;">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path class="tw-fill-gray-100 dark:tw-fill-gray-600"
              d="M-37.02,164.10 C328.66,20.03 595.03,10.16 618.74,-65.81 L500.00,150.00 L0.00,150.00 Z"></path>
      </svg>
    </div>
    <section class="tw-bg-gray-100 dark:tw-bg-gray-600">
      <div class="container lg:tw-w-4/5 mx-auto tw-py-4 tw-px-10 lg:tw-px-20">
        <div class="tw-text-center tw-mb-12">
          <h1 class="tw-text-2xl font-boldF tw-mb-5 dark:tw-text-white">لورم ایپسوم
            <span class="tw-text-indigo-600">متن ساختگی</span>
          </h1>
          <p class="tw-text-gray-700 tw-leading-8 tw-mb-6 dark:tw-text-white">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
        </div>
        <div dir="rtl" class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-10 dark:tw-text-white">
          <div class="tw-flex">
            <div>
              <fa :icon="['fas', 'shield-alt']"
                  class="tw-text-[2rem] tw-p-4 tw-rounded-full tw-border tw-border-1 tw-border-indigo-600 tw-text-indigo-600"></fa>
            </div>
            <p class="tw-mr-5">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
          </div>
          <div class="tw-flex">
            <div>
              <fa :icon="['fas', 'shield-alt']"
                  class="tw-text-[2rem] tw-p-4 tw-rounded-full tw-border tw-border-1 tw-border-indigo-600 tw-text-indigo-600"></fa>
            </div>
            <p class="tw-mr-5">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
          </div>
          <div class="tw-flex">
            <div>
              <fa :icon="['fas', 'shield-alt']"
                  class="tw-text-[2rem] tw-p-4 tw-rounded-full tw-border tw-border-1 tw-border-indigo-600 tw-text-indigo-600"></fa>
            </div>
            <p class="tw-mr-5">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div style="height: 100px; overflow: hidden;">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path class="tw-fill-gray-100 dark:tw-fill-gray-600"
              d="M-12.19,148.31 C145.82,120.69 576.41,-24.36 565.12,-20.42 L499.66,-2.66 L0.00,0.00 Z"></path>
      </svg>
    </div>

    <section>
      <div class="container">
        <div class="tw-text-center mb-12">
          <h1 class="tw-text-2xl font-bold mb-5 dark:text-white">لورم ایپسوم
            <span class="tw-text-indigo-600">متن ساختگی</span>
          </h1>
          <p class="tw-text-gray-700 tw-leading-8 tw-mb-6">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
        </div>
        <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-x-4">
          <div class="tw-border tw-border-t-8 tw-border-indigo-600 tw-rounded-lg tw-py-5 tw-px-20 tw-text-center">
            <div class="tw-py-5">
              <h1 class="tw-text-2xl font-bold">استارتاپ</h1>
              <p class="my-6"><span class="tw-text-2xl tw-font-bold">50,000</span> تومان</p>
              <p class="font-bold tw-text-gray-700">ماهانه</p>
            </div>
            <hr>
            <div class="py-5 tw-space-y-4">
              <p class="tw-text-2xl font-bold">لورم ایپسوم</p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
            </div>
            <div class="tw-py-8">
              <button class="btn btn-primary">خرید پکیج</button>
            </div>
          </div>
          <div
            class="tw-bg-indigo-600 tw-text-white tw-border tw-border-t-8 tw-border-indigo-600 tw-rounded-lg tw-py-5 tw-px-20 tw-text-center">
            <div class="tw-py-5">
              <h1 class="tw-text-2xl tw-font-bold">اقتصادی</h1>
              <p class="my-6"><span class="text-2xl font-bold">150,000</span> تومان</p>
              <p class="font-bold tw-text-gray-700">ماهانه</p>
            </div>
            <hr>
            <div class="py-5 tw-space-y-4">
              <p class="tw-text-2xl tw-font-bold">لورم ایپسوم</p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
            </div>
            <div class="tw-py-8">
              <button class="btn btn-secondary tw-text-blue-800">خرید پکیج</button>
            </div>
          </div>
          <div class="tw-border tw-border-t-8 tw-border-indigo-600 tw-rounded-lg tw-py-5 tw-px-20 tw-text-center">
            <div class="tw-py-5">
              <h1 class="text-2xl font-bold">تجاری</h1>
              <p class="my-6"><span class="text-2xl font-bold">250,000</span> تومان</p>
              <p class="font-bold tw-text-gray-700">ماهانه</p>
            </div>
            <hr>
            <div class="py-5 tw-space-y-4">
              <p class="tw-text-2xl font-bold">لورم ایپسوم</p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
              <p>لورم ایپسوم متن</p>
              <p>لورم ایپسوم </p>
            </div>
            <div class="py-8">
              <button class="btn btn-primary">خرید پکیج</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-24">
      <div class="container lg:tw-w-4/5 tw-mx-auto tw-py-4 tw-px-10 lg:tw-px-20">
        <div class="tw-text-center mb-12">
          <h1 class="tw-text-2xl font-bold mb-5 dark:text-white">لورم ایپسوم
            <span class="tw-text-indigo-600">متن ساختگی</span>
          </h1>
          <p class="tw-text-gray-700 tw-leading-8 tw-mb-6 dark:text-white">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
        </div>

        <div>
          <ul class="tw-flex tw-justify-center">
            <div v-for="(tab , index) in tabs" :key="index">
              <li
                @click="tabName = tab.category"
                class="tw-px-4 tw-py-2 tw-cursor-pointer"
                :class="tabName === tab.category ? 'tw-border-b-4 tw-border-indigo-600' : ''"
              >
                {{ tab.display_category }}
              </li>
            </div>
          </ul>
          <div v-for="(tab , index) in tabs" :key="index"
               class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-5 tw-mt-5">
            <img class="tw-rounded-lg" :src="tab.images" alt=""/>
            <img class="img-time-matters" :src="require(`../assets/images/${tab.images}`)">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div dir="rtl" class="container mx-auto lg:tw-w-4/5 mx-auto tw-py-4 tw-px-10 lg:tw-px-20">
        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center tw-gap-x-24">
          <div class="tw-mt-8 lg:tw-mt-0">
            <h1 class="tw-text-2xl tw-font-bold tw-mb-5 dark:tw-text-white">لورم ایپسوم <span class="tw-text-indigo-600">متن
                            ساختگی</span></h1>
            <p class="tw-text-gray-700 tw-text-justify tw-leading-8 mb-6 dark:tw-text-white">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
            <form action="#">
              <div>
                <label class="form-label" for="email">ایمیل : </label>
                <input class="form-input" id="email" type="email" placeholder="ایمیل ...">
              </div>
              <div class="tw-mt-5">
                <label class="form-label" for="text">متن پیام : </label>
                <textarea rows="4" class="form-input" id="text" type="email" placeholder="پیام ..."></textarea>
              </div>
              <button class="btn btn-primary mt-5 tw-w-36">ارسال پیام</button>
            </form>
          </div>
          <img src="../assets/images/team-meeting.svg" alt="">
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="tw-bg-indigo-300 tw-w-96 tw-rounded tw-mx-auto">
          <form id="task-form" class="tw-bg-white tw-shadow-md tw-p-5 tw-rounded tw-w-60 text-right tw-my-8 tw-mx-auto">
            <div class="tw-mb-4">
              <label class="tw-block tw-text-gray-700 tw-text-lg tw-p-4 tw-font-bold tw-mb-2 tw-text-right" for="task">
                ایجاد تسک
              </label>
              <input
                class="tw-focus:shadow-outline tw-focus:outline-none  text-right tw-shadow tw-appearance-none tw-text-sm tw-text-right tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight"
                id="task" type="text" placeholder="تسک را وارد کنید">
              <button class="btn btn-primary tw-w-32 tw-my-4 tw-mx-auto" type="submit" @click="addTask">اضافه کردن
              </button>
            </div>
          </form>
          <form class="tw-bg-white tw-shadow-md tw-p-5 tw-rounded tw-w-60 text-right tw-my-8 tw-mx-auto">
            <div class="tw-mb-4">
              <label class="tw-block tw-text-gray-700 tw-text-lg tw-p-4 tw-font-bold tw-mb-2 tw-text-right"
                     for="filter">
                فیلتر تسک
              </label>
              <input dir="rtl"
                     class="tw-focus:shadow-outline tw-focus:outline-none  text-right tw-shadow tw-appearance-none tw-text-sm tw-text-right tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight"
                     id="filter" type="text" placeholder="تسک ...">
              <div class="my-list-group">
              </div>
              <button class="btn btn-primary tw-w-32 tw-my-4 tw-mx-auto clear-task" @click="clearTask">پاک کردن</button>
              <button class="btn btn-primary tw-w-32 tw-my-4 tw-mx-auto" @click="filterBtn">فیلتر</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      tabName: 'nature',
      tabText: '',
      tabs: [
        {
          'category': 'nature',
          'display_category': 'طبیعت',
          images: 'team-meeting.svg',
        },
        {
          'category': 'technology',
          'display_category': 'تکنولوژی',
          images: 'team-meeting.svg',
        },
        {
          'category': 'travel',
          'display_category': 'مسافرت',
          images: 'team-meeting.svg',
        },
        {
          'category': 'all',
          'display_category': 'همه',
          images: 'team-meeting.svg',
        }
      ]
    }
  },
  methods: {
    async getPost() {
      this.posts = await fetch('https://jsonplaceholder.typicode.com/posts')
        .then(res => {
          return res.json();
        })
    },
    async getPostAxios() {
      this.posts = await this.$axios.get('https://jsonplaceholder.typicode.com/posts')
        .then(res => {
          return res.data;
        })
    },
    async postNameAxios() {
      await this.$axios.post('https://jsonplaceholder.typicode.com/posts', {
        name: this.name
      })
    },
    addTask(e) {
      const taskInput = document.querySelector('#task');
      if (taskInput.value === '') {
        alert('برای افزودن تسک در ابتدا تسک را وارد کنید');
      } else {
        const taskInput = document.querySelector('#task');
        const taskList = document.querySelector('.my-list-group');
        const p = document.createElement('p');
        p.className = 'my-list-group-item tw-flex tw-items-center tw-justify-between tw-border-b-gray-400 tw-my-4';
        p.appendChild(document.createTextNode(taskInput.value));
        const span = document.createElement('span');
        span.className = 'tw-text-red-700 delete-item cursor-pointer';
        span.style.cursor = 'pointer';
        span.appendChild(document.createTextNode('پاکن'));
        taskList.addEventListener('click', this.removeTask);
        p.appendChild(span);
        taskList.appendChild(p);
        // Store in LS
        this.storeTaskInLocalStorage(taskInput.value);

        // Clear input
        taskInput.value = '';
        e.preventDefault();
      }
    },
    removeTask(e) {
      if (e.target.classList.contains('delete-item')) {
        if (confirm('آيا مطمن هستی برای حذف تسک?')) {
          e.target.parentElement.remove()
        }

      }
    },
    clearTask(e) {
      const taskList = document.querySelector('.my-list-group');
      taskList.innerHTML = ''
    },

    filterBtn() {
      const filter = document.querySelector('#filter');
      filter.addEventListener('click', this.filterTask);
    },
// Filter task
    filterTask(e) {
      const text = e.target.value.toLowerCase();
      console.log(text);
      document.querySelectorAll('.my-list-group-item').forEach(function (task) {
        console.log(task);
        const item = task.textContent;
        console.log(item);
        if (item.toLowerCase().indexOf(text) !== -1) {
          task.classList.add("d-flex");
        } else {
          task.classList.remove("d-flex");
          task.style.display = 'none';
        }

      });
      e.preventDefault();
    },

    loadEventListeners() {
      // DOM Load event
      document.addEventListener('DOMContentLoaded', this.getTasks);

    },
    // Get Tasks from LS
    getTasks(e) {
      let tasks;
      if (localStorage.getItem('tasks') === null) {
        tasks = [];
      } else {
        tasks = JSON.parse(localStorage.getItem('tasks'));
      }

      tasks.forEach(function (task) {

        // Create li element
        const taskInput = document.querySelector('#task');
        const taskList = document.querySelector('.my-list-group');
        const p = document.createElement('p');
        p.className = 'my-list-group-item tw-flex tw-items-center tw-justify-between tw-border-b-gray-400 tw-my-4';
        p.appendChild(document.createTextNode(taskInput.value));
        const span = document.createElement('span');
        span.className = 'tw-text-red-700 delete-item cursor-pointer';
        span.style.cursor = 'pointer';
        span.appendChild(document.createTextNode('پاکن'));
        taskList.addEventListener('click', this.removeTask);
        p.appendChild(span);
        taskList.appendChild(p);
        e.preventDefault();

      });

  },

    // Store Task
    storeTaskInLocalStorage(task) {
      let tasks;
      if (localStorage.getItem('tasks') === null) {
        tasks = [];
      }
      else {
        tasks = JSON.parse(localStorage.getItem('tasks'));
      }
      tasks.push(task);
      localStorage.setItem('tasks', JSON.stringify(tasks));
    },

    //  Remove from LS
    removeTaskFromLocalStorage(taskItem) {
      let tasks;
      if (localStorage.getItem('tasks') === null) {
        tasks = [];
      } else {
        tasks = JSON.parse(localStorage.getItem('tasks'));
      }

      tasks.forEach(function (task, index) {
        if (taskItem.textContent === task) {
          tasks.splice(index, 1);
        }
      });

      localStorage.setItem('tasks', JSON.stringify(tasks));
    }
  },
  mounted() {
    this.loadEventListeners()
  }
}
</script>
<style>

</style>
