$font-family: 'iransans', sans-serif;
$bg-color: #e5e5e5;

// #######    TABLE    #######
$table-header: #031e36;
// #######    TABLE    #######

// #######    SHADOW    #######
$box-shadow-color-1: rgba(0, 0, 0, 0.25);
$box-shadow-color-2: rgba(0, 0, 0, 0.11);
// #######    SHADOW    #######
